@inject HttpClient Http
@inject IJSRuntime JSRuntime
@inject NavigationManager Nav
@using RecipesWeb.Shared
@using RecipesWeb.Client.Components
@page "/"

<PageTitle>Index</PageTitle>

Welcome to Recipe Web App.

<SearchBar OnSearch="HandleSearch"/>

@if (results == null)
{
    <p>Loading recipes...</p>
}
else
{
    <div className="grid grid-cols-3 gap-4">
        @{
            foreach (Recipe result in results)
            {
                <Card recipe="result"/>
            }
        }
    </div>
}

<SurveyPrompt Title="How is Blazor working for you?" />

@code{
    private List<Recipe>? results;

    protected override async Task OnInitializedAsync()
    {
        results = await Http.GetFromJsonAsync<List<Recipe>>("api/Recipe") ?? new List<Recipe>();
        await base.OnInitializedAsync();
    }

    public async void HandleSearch(string query)
    {
        results = new List<Recipe>();
        var findRecipe = await Http.GetFromJsonAsync<List<Recipe>>($"api/Recipe/{query}");
        if (findRecipe != null)
            results.AddRange(findRecipe);
    }
}
